:root{
  --accent-transparent: solid rgba(255, 255, 255, 0.3) 1px;
  --primary: #343f51; 
  --button-neutral-text: #ebe2d5;
}
  
* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
}
  
*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: rgba(24, 26, 27, 1);
  color: #ebe2d5;
  text-align: center;
}

#page-container {
  display: grid;
}

#objective-message-container {
  display: flex;
  position: fixed;
  border: solid rgba(255, 255, 255, 0) 1px;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 30px;
  z-index: 1;
  pointer-events: none;
}

#objective-message {
  padding: 10px;
  border-radius: 10px;
  margin-inline: 5em;
  font-size: 1.8em;
  background-color: #38352db6;
  width: calc(100% - 10em);
}
  
h1 {
  background-color: rgba(255, 255, 255, 0.1);
  height: 50px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 5px;
  border-radius: 10px;
  cursor: default;
  max-width: 300px;
}
  
h2 {
  margin-bottom: 20px;
}

#stats-popup {
  display: none;
  position: fixed;
  pointer-events: none;
  will-change: transform;
  background-color: rgba(0, 0, 0, 0.555);
  border: solid orange 1px;
  padding: 10px;
  text-align: left;
}

.orange-highlight {
  color: orange;
}

.item-title {
  font-weight: 600;
  line-height: 20px;
}

.column {
  position: relative;
  float: left;
  width: 33.33%;
  min-height: 100vh;
  height: 100%;
  padding: 0 3em 3em 3em;
  border-right: var(--accent-transparent);
}
  
#column-right{
  border-right: 0;
}
  
div.resources > img:hover {
  cursor: pointer;
  box-shadow: 20px 20px 125px 0;
}

button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px white;
}

.node-image {
  height: 50px;
  width: 50px;
}

.node__tier-two {
  display: none;
}

.ore-node {
  display: block;
  width: 100px;
  height: 100px;
}
  
.node-image:active {
  transform: scale(1.2);
}

.node-image.cooldown:active {
  transform: none;
}

.node-image:hover {
  cursor: pointer;
}
  
fieldset{
  border-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 30px;
  border-radius: 10px;
}
  
legend{
  font-size: 18px;
}

#resources-products{
  display: none;
  margin-block: 25px;
}

select {
  font-size: 0.8em;
  color: #1e1d1b;
  background-color: rgba(255, 255, 255, 0.49);
  border-radius: 7.5px;
}

.purchasable-item {
  position: relative;
}

.purchasable-item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  pointer-events: auto;
}
  
.purchasable-item:hover {
  cursor: pointer;
}

#furnace-shop:after {
  pointer-events: none;
}

#tools, #furnaces, #auto-miner-shop, #anvils {
  display: none;
}

#tool-shop {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
  height: 100%;
  position: relative;
}
  #pickaxe-bronze, #pickaxe-iron, #pickaxe-steel,   #pickaxe-black, #pickaxe-gold, #pickaxe-mithril,  #pickaxe-adamant, #pickaxe-runite, #pickaxe-dragon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    opacity: 0.5;
    padding: 0 5px 0 5px;
    margin-top: 17.5px;
  }

#furnace-shop {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 100%;
  position: relative;
  padding: 8px;
}

#furnace-shop img {
  display: flex;
  justify-content: center;
  width: 40px;
  height: auto;
}

.ingot-controls {
  display: flex;
  gap: 8px;
}

.auto-miners, .anvils {
  height: 40px;
  opacity: 0.5;
  padding: 0 5px 0 5px;
  margin-top: 17.5px;
}
  
.sell-section {
  display: flex;
  flex-direction: row;
  margin: 3em 0 1em 0;
  justify-content: center;
  gap: 8px;
}

#info-message{
  font-size: 1.2em;
}

.button-neutral {
  font-size: 1em;
  background-color: var(--primary);
  color: var(--button-neutral-text);
  padding: 5px;
  width: 120px;
  border-radius: 10px;
}

.dev-button {
  margin-top: 40px;
  font-size: 1.5em;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: tahoma;
  color: #ebe2d5;
  padding: 5px;
  width: 120px;
  border-radius: 10px;
}

.sell-btn {
  background-color: rgba(255, 255, 255, 0.2);
  font-family: tahoma;
  color: #ebe2d5;
  padding: 5px;
  width: 120px;
  border-radius: 10px;
}
  
#sell-one {
  margin-right: 15px;
}

.resource-index {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.resources {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-right: 50px;
  gap: 20px;
}

.resources img {
  width: 2rem;
}

#resource-bronze-med-helm {
  display: none;
}

#resource-bronze {
  display: none;
}
  
#messages {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.info {
  height: 50px;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
}

#dev-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.purchasable-item {
  pointer-events: auto;
}





@media (max-width: 800px) {
    .column{
      width: 100%;
      min-height: 500px;
    }
}